<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bfhd.evaluate">

    <application>

        <activity
            android:name="com.bfhd.evaluate.ui.AudioLessonActivity"
            android:label="新概念列表"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bfhd.evaluate.ui.AudioLessonDetailActivity"
            android:label="新概念详情"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name="com.bfhd.rxdemo.RxDemoActivity" />

    </application>

</manifest>