<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bfhd.account">

    <application>
        <activity
            android:name=".ui.AccountPointStoreActivity"
            android:label="积分商城"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.LoginActivity"
            android:label="登录"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.RegistActivity"
            android:label="注册"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AccountPersonInfoActivity"
            android:label="个人信息"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.AccountMineActiveActivity"
            android:label="我的动态"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AccounAttentionListActivity"
            android:label="我的关注"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AccounFansListActivity"
            android:label="我的粉丝"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AccounMessageListtActivity"
            android:label="我的粉丝"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AccounOrderListtActivity"
            android:label="我的粉丝"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AccountCollectionListActivity"
            android:label="我的粉丝"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AccountOneKeySosActivity"
            android:label="我的粉丝"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AccountSigninListActivity"
            android:label="我的粉丝"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AccounSuggestionActivity"
            android:label="我的粉丝"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AccounSettingActivity"
            android:label="我的粉丝"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AccountInfoCompleteActivity"
            android:label="我的粉丝"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AccounModifyPwdActivity"
            android:label="我的粉丝"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AccountHelpCenterActivity"
            android:label="我的粉丝"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AccountAddConstActivity"
            android:label="我的粉丝"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AccounSystemMessageActivity"
            android:label="我的粉丝"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AccounCommentListActivity"
            android:label="我的粉丝"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AccounParseListActivity"
            android:label="我的粉丝"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AccounMessageDetailActivity"
            android:label="我的粉丝"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AccounSelectCountryNumActivity"
            android:label="我的粉丝"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />

        <activity
            android:name=".ui.tygs.AccounTygsAttentionListActivity"
            android:label="我的关注"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".ui.FindPwdActivity"
            android:label="我的粉丝"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AccounPointRecordListActivity"
            android:label="积分明细"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AccounAddressListActivity"
            android:label="地址管理"
            android:screenOrientation="portrait" />
        <activity

            android:name=".ui.AccounAddAddressActivity"
            android:label="新增收货地址"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.AccountWjSenttActivity"
            android:label="积分明细"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AccountAttenListActivity"
            android:label="积分明细"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AccoutMoneyBoxActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.AccountWjBuyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.AccounMoneyDetailListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.AccountSafeCollectionListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.AccoutMoneyTXActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.AccounPrivacySettingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.AccounNoSeeActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.tygs.AccounRewardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.tygs.AccounPointActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.tygs.AccounTygsBranchListActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.tygs.AccounOrderListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.tygs.AccounCollectActivity"
            android:screenOrientation="portrait" />



    </application>

</manifest>