<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.docker.cirlev2">


    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity android:name="com.docker.cirlev2.ui.index.CircleSampleActivity"></activity>
        <activity android:name="com.docker.cirlev2.ui.index.CircleIndexActivity"></activity>
        <activity
            android:name="com.docker.cirlev2.ui.create.CircleCreateActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.docker.cirlev2.ui.create.CircleCreateIndexActivity"></activity>
        <activity android:name="com.docker.cirlev2.ui.detail.CircleDetailIndexActivity"></activity>
        <activity
            android:name="com.docker.cirlev2.ui.publish.CirclePublishActivity"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name="com.docker.cirlev2.ui.common.CircleCoverActivity"></activity>
        <activity android:name="com.docker.cirlev2.ui.publish.select.CirclePerssionSelectActivity"></activity>
        <activity android:name="com.docker.cirlev2.ui.publish.select.CircleShareSelectActivity"></activity>
        <activity android:name="com.docker.cirlev2.ui.publish.select.CircleShareGroupSelectActivity"></activity>
        <activity android:name="com.docker.cirlev2.ui.detail.CircleInviteActivity"></activity>
        <activity android:name="com.docker.cirlev2.ui.detail.CircleGroupListActivity"></activity>
        <activity android:name="com.docker.cirlev2.ui.detail.CircleEditMemberGroupActivity"></activity>
        <activity android:name="com.docker.cirlev2.ui.persion.CirclePersonListActivity"></activity>
        <activity android:name="com.docker.cirlev2.ui.persion.CircleModifyActivity"></activity>
        <activity android:name="com.docker.cirlev2.ui.persion.CirclePersionSettingActivity"></activity>
        <activity android:name="com.docker.cirlev2.ui.persion.CirclePersonDetailActivity"></activity>
        <activity android:name="com.docker.cirlev2.ui.persion.CirclePersonPerssionActivity"></activity>
        <activity android:name="com.docker.cirlev2.ui.persion.CircleGroupPerssionActivity"></activity>
        <activity android:name="com.docker.cirlev2.ui.dynamicdetail.CircleDynamicDetailActivity"></activity>
        <activity android:name="com.docker.cirlev2.ui.dynamicdetail.Circlev2ReplayQuestionActivity"></activity>
        <activity android:name="com.docker.cirlev2.ui.list.CircleClassListActivity"></activity>
        <activity android:name="com.docker.cirlev2.ui.list.CircleSearchListActivity"></activity>
        <activity
            android:name="com.docker.cirlev2.ui.detail.CircleEditTabActivity"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name="com.docker.cirlev2.inter.DefaultCircleDetailIndexActivity"></activity>
        <activity android:name="com.docker.cirlev2.inter.frame.NitAbsCircleDetailIndexActivity"></activity>
        <activity android:name="com.docker.cirlev2.ui.pro.CircleProListActivity"></activity>
        <activity android:name=".ui.CircleInfoActivity"></activity>
        <activity android:name=".ui.dynamicdetail.CircleShoppingCarListActivity"></activity>

        <activity
            android:name="com.docker.cirlev2.ui.dynamicdetail.CircleReplyListActivity"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity
            android:name="com.docker.cirlev2.ui.dynamicdetail.CircleMoreReplyListActivity"
            android:windowSoftInputMode="adjustResize"></activity>

    </application>
</manifest>
