<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.docker.common">

    <uses-sdk tools:overrideLibrary="com.github.promeg.tinypinyin.lexicons.android.cncity,com.github.promeg.tinypinyin.android.asset.lexicons,com.ywl5320.wlmedia"></uses-sdk>


    <application>

        <activity
            android:name="com.docker.common.common.ui.ViewDocumentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.docker.common.common.ui.AudioDemoActivity"
            android:configChanges="orientation" />
        <activity
            android:name=".common.ui.container.NitCommonContainerActivity"
            android:configChanges="orientation" />


        <activity
            android:name=".common.ui.XPopup.XPopupActivity"
            android:configChanges="orientation" />

        <activity
            android:name=".common.ui.RxDemoActivity"
            android:configChanges="orientation" />

        <activity
            android:name=".common.ui.CommonAddressListv2Activity"
            android:configChanges="orientation" />
        <activity
            android:name=".common.ui.location.MapLocationActivity"
            android:configChanges="orientation" />



        <activity android:name="com.docker.common.common.ui.ArouterSchemeActivity">
            <intent-filter>
                <data
                    android:host="m.aliyun.com"
                    android:scheme="arouter" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <service
            android:name=".jpush.MyJPushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <receiver
            android:name=".jpush.MyJpushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

    </application>

</manifest>