<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.docker.apps">

    <application>


        <activity android:name=".point.ui.index.PointSortActivity" />
        <activity android:name="com.docker.apps.active.ui.index.ActiveIndexActivity" />
        <activity android:name="com.docker.apps.intvite.ui.index.InviteIndexActivity" />
        <activity android:name="com.docker.apps.intvite.ui.index.InviteCodeScanActivity" />
        <activity android:name="com.docker.apps.active.ui.detail.ActiveSuccActivity" />
        <activity android:name="com.docker.apps.active.ui.detail.ActiveResultActivity" />
        <activity android:name="com.docker.apps.active.ui.manager.ActiveRegistListActivity" />
        <activity android:name="com.docker.apps.active.ui.manager.ActiveManagerListActivity" />
        <activity android:name="com.docker.apps.active.ui.manager.ActiveManagerDetailActivity" />
        <activity android:name="com.docker.apps.active.ui.manager.ActiveVerificationActivity" />
        <activity android:name="com.docker.apps.active.ui.manager.ActivePersionManagerListActivity" />
        <activity android:name="com.docker.apps.active.ui.manager.ActivePersionDetailActivity" />
        <activity android:name="com.docker.apps.active.ui.publish.ActiveBannerPreviewActivity" />
        <activity android:name="com.docker.apps.active.ui.publish.ActiveContentEditActivity" />
        <activity android:name="com.docker.apps.order.ui.address.OrderAddressManagerActivity" />
        <activity android:name="com.docker.apps.order.ui.address.OrderAddAddressActivity" />
        <activity android:name="com.docker.apps.order.ui.index.OrderPayActivity" />
        <activity android:name="com.docker.apps.order.ui.index.OrderListActivity" />
        <activity android:name="com.docker.apps.order.ui.logistics.LogisticsDetialActivity" />
        <activity android:name="com.docker.apps.order.ui.index.OrderGoodsListActivity" />
        <activity android:name="com.docker.apps.order.ui.comment.OrderGoodsCommentActivity" />
        <activity android:name="com.docker.apps.order.ui.comment.OrderCommentSuccessActivity" />
        <activity android:name="com.docker.apps.order.ui.index.OrderDetailActivity" />
        <activity android:name="com.docker.apps.active.ui.publish.ActiveTypeSelectActivity" />
        <activity android:name="com.docker.apps.active.ui.detail.ActiveDetailActivity" />
        <activity android:name="com.docker.apps.active.ui.manager.ActiveSearchActivity" />
        <activity android:name="com.docker.apps.order.ui.index.OrderPaySuccActivity" />
        <activity
            android:name="com.docker.apps.order.ui.index.OrderMakeActivity"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>
