<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.docker.common">

    <uses-sdk tools:overrideLibrary="com.github.promeg.tinypinyin.lexicons.android.cncity,com.github.promeg.tinypinyin.android.asset.lexicons,com.ywl5320.wlmedia"></uses-sdk>


    <application>

        <activity
            android:name="com.docker.common.common.ui.ViewDocumentActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

    </application>

</manifest>